* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    height: 100vh;
    width: 100 vw;
}
.sub-heading, .nav-heading{
    margin: 10px 0px 15px;


}
.box-s
.nav-heading{
    text-align: center;
}

.main-container-grid {
    display: grid;
    grid-template-rows: 1fr 13fr 1fr;
    grid-row-gap: 1em;
}
.logo-name{
    line-height: 50px;
    margin-left: 10px;
}
.left-nav{
    list-style-type: none;

}
.left-nav>li{
    border: 1px solid white;
}
.left-nav > li > a{
    display: block;
    padding: 15px;
    text-decoration: none;
    transition-duration: .7s;
    font-weight: bold;


}
.left-nav > li > a:hover{
    background-color: white;

}
.r1c1 {
    float: left;
}
.r1 {

    background-color: red;
    border: 10px;
    float: left;
}


.r2 {
    background-color: red;
    width: 90%;
    margin: 0px auto;
}

.r3 {

    background-color: Red;
}

.r1,
.r2,
.r3 {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-column-gap: 1em;
}

.r2c1, .r2c3, .r2c3 {
    background-color: red;
}
.r2c3{
    padding: 0px 15px 10px;
}
td{
    padding: 10px;
}
.course-table{
    table-layout: fixed;
    width: 100%;
}
.course-table > thead > tr{
    height: 50px;
    text-align: center;
}
.course-table > tbody > tr > td{
    border: 1px solid white;

}
.course-table > thead > tr > td{
    border: 1px solid white;
    font-weight: bold;
    font-size: 18px;


    
}
td {
    border: 1px solid white;
}
tr{
    border: 2px solid white;
}
.copyright-text{
    align-self: center;
    justify-self: center;
}