* {
    margin: 0px;
    padding: 0px;
    position: relative;
}

html,
body {
    height: 100vh;
    width: 100vw;
}
.r1, .r3 {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-column-gap: 1em;
}
.r2{
    display: grid;
}

.login-form{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 180px;
    height: 80vh;
    grid-template-rows: 5fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
    padding: 10px;
}
.login-form > img {
    width: 100%;
    height: 100%;
}
.login-container-grid {
    display: grid;
    grid-template-rows: 3fr 13fr 3fr;
    background-color: white;
}

.login-input{
    padding:20px;
    font-size: 20px;
}
.login-logo{
    height: 50px;
    width: 50px;
}
.logo-name {
    line-height: 50px;
    margin-left: 10px;
    align-self: center;
}
.btn-login{
    font-weight: bold;
    font-size: 18px;
    width: 250px;
    height: 80px;
    background-color: red;
    border-radius: 10px;
}